
  <div class="result">
      <h1>診断結果</h1>
      <p><%= @user.name %>さんの年齢は．．．．</p>
      <p><%= @user.age %>でした！！</p>

      <p><%= @personal.point1 %>！</p>
      <p><%= @personal.point2 %>！！</p>
    <%= link_to("buy", "/home/buy") %>
    <%= link_to("sell", "/home/sell") %>

  </div>
